*.o
*.a
*.iso
*.bin
*.elf

build/
.vscode/
.vagrant/

tools/**

# Exceptions
!tools/*.sh
!tools/vagrant
!tools/vagrant/*.sh
!tools/font-utils
!tools/font-utils/*.sh
!tools/font-utils/*.psf
!tools/font-utils/readpsf
!tools/font-utils/writepsf